{% extends 'techblog/layout.html' %}
{% load static %}

{% block title %}Tech blog{% endblock %}

{% block header %}
	{% include 'techblog/heading.html' %}	
{% endblock %}

{% block main %}
	<!-- Blog entries -->

	<!-- Featured blog post -->
	{% if featured_post %}
		<div class="card mb-4">
			<a href="{% url 'techblog:post' featured_post.slug %}"><img class="card-img-top" src="{{ featured_post.coverpic }}" alt=""></a>
			<div class="card-body">
				<div class="small text-muted">{{ featured_post.date }}</div>
				<h2 class="card-title">{{ featured_post.title }}</h2>
				<p class="card-text">{{ featured_post.subtitle }}</p>
				<a class="btn btn-primary" href="{% url 'techblog:post' featured_post.slug %}">Read more</a>
				{% if user.is_superuser %}
					<a class="btn btn-success" href="{% url 'techblog:edit_post' featured_post.slug %}">Edit</a>
					<a class="btn btn-danger" href="{% url 'techblog:delete_post' featured_post.slug %}">Delete</a>	
				{% endif %}
			</div>
		</div>
	{% endif %}

	<!-- Nested row for non-featured blog posts -->
	<div class="row">
		{% for post in posts %}
			<div class="col-lg-6">
				<!-- Blog post -->
				<div class="card mb-4">
					<a href="{% url 'techblog:post' post.slug %}"><img class="card-img-top" src="{{ post.coverpic }}" alt=""></a>
					<div class="card-body">
						<div class="small text-muted">{{ post.created|date:"F j, Y" }}</div>
						<h2 class="card-title h4">{{ post.title }}</h2>
						<p class="card-text">{{ post.subtitle }}</p>
						<a class="btn btn-primary" href="{% url 'techblog:post' post.slug %}">Read more</a>
						{% if user.is_superuser %}
							<a class="btn btn-success" href="{% url 'techblog:edit_post' post.slug %}">Edit</a>
							<a class="btn btn-danger" href="{% url 'techblog:delete_post' post.slug %}">Delete</a>	
						{% endif %}
					</div>
				</div>
			</div>
		{% empty %}
			<h3 class="text-center">No posts to show</h3>
		{% endfor %}
	</div>
	<!-- Pagination -->
	{% include 'techblog/pagination.html' %}
			
{% endblock %}