{% extends 'book_blog/layout.html' %}
{% load static %}

{% block headings %}
	<header class="masthead">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="page-heading">
						<form method="post" action="">
							{% csrf_token %}
							<p>Are you sure you want to delete {{ item }}?</p>
							<input class="btn btn-danger" type="submit" value="Confirm">
						</form>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
