{% extends 'book_blog/layout.html' %}
{% load static %}

{% block headings %}
	<header class="masthead" style="background-image: url('/static/book_blog/assets/img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Book Blog</h1>
						<span class="subheading">A blog on writing</span>
					</div>				
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block body %}
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<!-- Post preview -->
				<!-- <div class="post-preview">
					<a href="#">
						<h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
						<h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
					</a>
					<p class="post-meta">
						Posted by
						<a href="#">Nathaniel Adiah</a>
						on Nov 28, 2021
					</p>
				</div> -->
				<!-- Divider -->
				<!-- <hr class="my-4"> -->

				<!-- Post preview -->
				<!-- <div class="post-preview">
					<a href="#">
						<h2 class="post-title">Science has not yet mastered prophecy</h2>
						<h3 class="post-subtitle">We predict too much and far too little</h3>
					</a>
					<p class="post-meta">
						Posted by 
						<a href="#">Nathaniel Adiah</a>
						on Nov 13, 2021
					</p>
				</div>
 -->
				<!-- Divider -->
				<!-- <hr class="my-4"> -->

				<!-- Post preview -->
				<!-- <div class="post-preview">
					<a href="#">
						<h2 class="post-title">Failure is not an option</h2>
						<h3 class="post-subtitle">Many say exploration is part of our destiny.</h3>
					</a>
					<p class="post-meta">
						Posted by
						<a href="#">Nathaniel Adiah</a>
						on Jun 22, 2021
					</p>
				</div> -->

				{% for post in page_obj %}
					<!-- Divider -->
					<hr class="my-4">
					<!-- Post preview -->
					<div class="post-preview">
						<a href="{% url 'book:post' post.id %}">
							<h2 class="post-title">{{ post.title }}</h2>
							<h3 class="post-subtitle">{{ post.subtitle }}</h3>
						</a>
						<p class="post-meta">
							Posted by
							<a href="#">{{ post.author.username}}</a>
							on {{ post.date }}
						</p>
					</div>

					<!-- Divider -->
					<hr class="my-4">
				{% endfor %}

				<!-- Pager -->
				<!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#">Older Posts →</a></div> -->
				<!-- Pagination -->
				<nav aria-label="Page navigation" class="mt-3 sticky-top">
					<ul class="pagination">
						{% if page_obj.has_previous %}
						<!-- <li class="page-item"><a class="page-link" href="?page=1">&laquo; Newest</a></li> -->
						<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer Posts</a></li>
						{% endif %}
						<li class="page-item active" aria-current="page">
							<a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
						</li>
						{% if page_obj.has_next %}
						<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Older Posts</a></li>
						<!-- <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Oldest &raquo;</a></li> -->
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
{% endblock %}