{% extends 'cs50game/layout.html' %}
{% load static %}

{% block title %}New Post{% endblock %}

{% block main %}
	<div class="col-lg-8">
		<form method="post" action="{% url 'cs50game:new_post' %}">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="title" class="form-label">Title</label>
					<input type="text" class="form-control" id="title" name="title" required>
				</div>
				<div class="col-md-6 mb-3">
					<label for="subtitle" class="form-label">Subtitle</label>
					<input type="text" class="form-control" id="subtitle" name="subtitle" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9 mb-3">
					<label for="coverpic" class="form-label">Cover Image</label>
					<input type="url" class="form-control" id="coverpic" name="coverpic">
				</div>
				<div class="col-md-3 form-check form-switch">
					<input class="form-check-input" type="checkbox" id="featured" name="featured" value="True">
					<label class="form-check-label" for="featured">Featured Post</label>
				</div>
			</div>
			
			<div class="mb-3">
				<label for="blurb" class="form-label">Blurb</label>
				<textarea class="form-control" id="blurb" rows="3" name="blurb" required></textarea>
			</div>
			
			

			<div class="mb-3">
				<label for="body" class="form-label">Body</label>
				<textarea class="form-control" id="body" name="body" rows="30" required></textarea>
			</div>
			<div class="d-grid gap-2">
				<button type="submit" class="btn btn-primary btn-lg mb-5">Post</button>
			</div>
			
		</form>
	</div>
{% endblock %}