{% extends 'cs50game/layout.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block main %}
	{% load markdown_extras %}
	<div class="col-lg-8">
		<!-- Post content -->
		<article>
			<!-- Post header -->
			<header class="mb-4">
				<!-- Post title -->
				<h1 class="fw-bolder mb-1">{{ post.title }}</h1>
				<!-- Post meta content -->
				<div class="text-muted fst-italic mb-2">Posted on {{ post.date|date:"F j, Y" }} by {{ post.author }}</div>
				<!-- Post categories -->
				{% for category in post.categories.all %}
					<a class="badge bg-secondary text-decoration-none link-light" href="{% url 'cs50game:categories' category.name %}">{{ category.name }}</a>
				{% endfor %}

				{% if user.is_superuser %}
				<div class="post-buttons mt-3">
					<a class="btn btn-success btn-sm" href="{% url 'cs50game:edit_post' post.slug %}">Edit</a>
					<a class="btn btn-danger btn-sm" href="{% url 'cs50game:delete_post' post.slug %}">Delete</a>	
				</div>
				{% endif %}	

			</header>
			<!-- Preview image figure -->
			<figure class="mb-4"><img class="img-fluid rounded" src="{{ post.coverpic }}" alt=""></figure>
			<!-- Post content -->
			<section class="mb-5" id="post-body">
				{{ post.body | markdown |safe}}
			</section>
		</article>

		<!-- Comments section -->
		<section class="mb-5">
			<div class="card bg-light">
				<div class="card-body">
					<!-- comment form -->
					<form class="mb-4" method="post" action="{% url 'cs50game:comment' post.slug %}">
						{% csrf_token %}
						<textarea id="new-comment-body" name="body" class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
						<div class="row">
							{% if user.is_authenticated %}
								<button id="add-new-comment" class="col-md-2 offset-md-9 mt-2 btn btn-primary btn-sm" type="submit">Comment</button>
							{% else %}
								<button id="add-new-comment" class="col-md-2 offset-md-9 mt-2 btn btn-primary btn-sm" disabled type="button">Comment</button>
							{% endif %}
						</div>
					</form>

				
					{% for comment in post.comments.all %}
						{% if not comment.parent %}
							<div class="d-flex mb-4">
								<div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt=""></div>
								<div class="ms-3">
									<div class="fw-bold">{{ comment.user.username }}</div>
									{{ comment.body }}
									{% for reply in comment.replies.all %}
										<div class="d-flex mt-4">
											<div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt=""></div>
											<div class="ms-3">
												<div class="fw-bold">{{ reply.user.username }}</div>
												{{ reply.body }}
											</div>
										</div>	
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
					<!-- last comment doesn't need an mb-4 -->
				</div>
			</div>
		</section>
	</div>	
{% endblock %}

{% block js %}
	<script src="{% static 'cs50game/js/comment.js' %}"></script>
{% endblock %}